@font-face {
    font-family: "Trajan";
    src: url("../../../systems/custos/style/fonts/Trajan.ttf");
}

@font-face {
    font-family: "TrajanBold";
    src: url("../../../systems/custos/style/fonts/TrajanBold.ttf");
}

.top-section {
    width: 100%;
    max-height: 30%;
    text-align: center;
    display: flex;
}

.top-section table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.image-cell {
    width: 205px
}

.bottom-section {
    width: 100%;
    height: 70%;
}

.top-section h2{
    font-family: var(--font-name);
    color: var(--header-font-color);
    border-bottom: none;
}

.top-section h3{
    font-family: var(--bold-font-name);
    color: var(--header-font-color);
    color: var(--dark-gold);
    font-weight: 900;
    border-bottom: none;
}

.char-pic {
    border: 10px solid transparent;
    padding: 15px;
    background-image: url("../../../systems/custos/style/images/laurel.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.char-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.char-name input{
    font-family: var(--bold-font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    text-align: center;
    font-weight: 900;
}

.char-info1 table {
    background: none;
    border: none;
    font-family: var(--bold-font-name);
    width: 100%;
}

.char-info1 td:nth-child(2) {
    width: 10%;
}

.char-info1 td:nth-child(4) {
    width: 10%;
}

.char-info1 input {
    background-color: var(--input-bg-color);
    color: var(--crimson);
    text-align: center;
}

.char-info2 table {
    background: none;
    border: none;
    font-family: var(--bold-font-name);
    width: 100%;
}

.char-info2 input {
    background-color: var(--input-bg-color);
    color: var(--crimson);
    text-align: center;
}

.char-info2 td:nth-child(1) {
    width: 25%;
}

.char-info3 table {
    background: none;
    border: none;
    font-family: var(--bold-font-name);
    width: 100%;
}

.char-info3 input {
    background-color: var(--input-bg-color);
    color: var(--crimson);
    text-align: center;
}

.char-info3 td:nth-child(odd) {
    width: 15%;
}

.char-info3 select{
    color: var(--crimson);
    background-color: var(--input-bg-color);
    text-align: center;
    border: none;
}

.title table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.title tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.title tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.title h2{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.title hr{
    border: 2px solid var(--dark-gold);
}

.title th{
    
    text-align: center;
}

.title th:nth-child(even){
    width: 25%;
}

.title td:nth-child(even){
    width: 10%;
}



.virtutes table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.virtutes tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.virtutes tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.virtutes h2{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.virtutes h3{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.virtutes hr{
    border: 2px solid var(--dark-gold);
}

.virtutes th{
    
    text-align: center;
}

.virtutes input {
    background-color: var(--input-bg-color);
    clip-path: circle(50% at 50% 50%);
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 30px;
    width: 30px; 
}

.peritiae table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.peritiae tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.peritiae tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.peritiae h2{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.peritiae h3{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.peritiae hr{
    border: 2px solid var(--dark-gold);
}

.peritiae th{
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    text-align: center;
    font-weight: 900;
}

.peritiae td{
    vertical-align: top;
}

.peritiae td:nth-child(4n+1) {
    width: 3%;
}

.peritiae td:nth-child(4n+2) {
    width: 22%;
}

.peritiae td:nth-child(4n+3) {
    width: 3%;
}

.peritiae td:nth-child(4n+4) {
    width: 7%;
}

.peritiae input {
    background-color: var(--input-bg-color);
    color: var(--crimson);
    clip-path: circle(50% at 50% 50%);
    border: none;
    text-align: center;
    height: 30px;
    width: 30px; 
}

.peritiae i {
    height: 20px;
    color: var(--crimson);
}

.regular-roll i {
    height: 20px;
    vertical-align: center;
    color: var(--crimson);
}

.speciality-name input{
    clip-path: none;
    height: 20px;
    width: 150px; 
}

.speciality-bonus input{
    height: 20px;
    width: 20px; 
}

.dices {
    list-style: none;
    margin: -0.5em 0px;
    padding: 10px 0px 0px 0.5em;
}

.dices li {
    display: inline-block;
    padding: 0px 1px;
}

.dices img {
    width: 60px;
    height: 60px;
    border: none;
    margin: auto;
}

.sheet nav.sheet-tabs {
    font-family: var(--font-name);
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
}

.sheet .tabs .item.active {
    background: var(--crimson);
    color: var(--tab-text-color-active);
    font-family: var(--font-name);
    font-weight: 900;
    text-shadow: none;
}

.sheet .tabs .item:hover {
    background: var(--dark-gold);
    color: var(--tab-text-color-hover);
    text-shadow: none;
}

.editor-content, .editor, .tox,.tox-edit-area, .tox-tinymce
{
    list-style: circle;
    text-align: left;
    padding: 5px;
	background-color: rgba(245, 245, 220, 0.5);
    color: #000000;
    height: 400px;
}

.dice-roll .dice-tooltip {
    display: block !important;
}

#pause .pause-image {
    background: url("images/pause.webp");
    background-size: 128px;
    width: 128px;
    height: 128px;
    padding-left: 128px;
}

#pause .pause-custos {
    font-family: var(--bold-font-name);
    margin: 0 auto;
    text-align: center;
    transform: scale3d(1, 1, 1);
    text-transform: uppercase;
    font-weight: 900;
    color: #f4eded;
}


:root { 
    --bg-image: url("../../../systems/custos/style/images/charsheet_bg.webp");
    --chat-bg-image: url("../../../systems/custos/style/images/chat_bg.webp");
    --font-name: "Trajan";
    --bold-font-name: "TrajanBold";
    --main-font-color: #000000;
    --dark-gold: #7B5624;
    --light-gold: #A79B10;
    --crimson: #5D222C;
    --input-bg-color: #ffffdc80;
    --tab-bg-color-active: #000000;
    --tab-bg-color-hover: #555353;
    --tab-text-color-active: #ffffff;
    --tab-text-color-hover: #d8d1d1;
}

.custos{  

}

.custos .window-content{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;
}

.test-result{
    text-align: center;
}
.test-result h3{
    font-family: var(--font-name);
    
    border-bottom: none;
}


.dice-breakdown{
    text-align: center;
}

.d-flex{
    display:flex!important;
    align-items: center;
}

.regular-success {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.critical-success {
    background-color: rgba(0, 0, 128, 0.5);
    color: white;
}

.regular-failure {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.critical-failure {
    background-color: rgba(128, 0, 0, 0.5);
    color: white;
}

.disabled {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.enabled {
    background-color: rgba(218, 165, 32, 0.5);
    color: white;
}

.chat-message {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.creatio table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.creatio tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.creatio tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.creatio h3{
    border-bottom: none;
}

.creatio h1{
    border-bottom: none;
}

.creatio hr{
    border: 2px solid var(--dark-gold);
}

.creatio th{
    color: var(--dark-gold);
    text-align: center;
    font-weight: 900;
}

.creatio td{
    color: var(--dark-gold);
    text-align: center;
    font-weight: 900;
}

.creatio select{
    color: var(--crimson);
    background-color: var(--input-bg-color);
    text-align: center;
    border: none;
}

.creatio-circle input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step3_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 40px;
    width: 40px;
}

.creatio-circle-step5 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/circle_step5_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 40px;
    width: 40px;
}

.creatio-circle-big input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step4_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 50px;
    width: 50px;
}

.creatio-octogon input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step4_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    text-align: center;
    height: 50px;
    width: 50px;
}

.creatio-provintia input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/provintia_step3_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 30px;
    width: 150px;
}

.creatio-box-step2 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step2_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 50px;
    width: 50px;
}

.creatio-box-step1 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step1_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 50px;
    width: 50px;
}

.creatio-box-step5 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step5_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 50px;
    width: 50px;
}

.creatio-box-step6 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    background-image: url("../../../systems/custos/style/images/creatio/step6_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 50px;
    width: 50px;
}

.provintia-title input {
 background-color: var(--input-bg-color);
 font-family: var(--bold-font-name);
 color: var(--crimson);
 text-align: center;
}

.provintia-title h2 {
    border-bottom: none;
}

.provintia table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.provintia tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.provintia tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.provintia h3 {
    border-bottom: none;
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
}

.provintia td {
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
    font-weight: 900;
}

.provintia input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 40px;
    width: 40px;
}

.provintia select{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    text-align: center;
}

.provintia_languages input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    text-align: center;
    clip-path: none;
    height: 20px;
    width: 100%;

}

.resources table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.resources tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.resources tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.resources h2{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.resources h3{
    border-bottom: none;
    color: var(--dark-gold);
    font-family: var(--bold-font-name);
    font-weight: 900;
}

.resources td:nth-child(1){
    width: 5%;
}

.resources td:nth-child(2){
    width: 10%;
}


.weapon-title input {
    background-color: var(--input-bg-color);
    font-family: var(--bold-font-name);
    color: var(--crimson);
    text-align: center;
}
   
.weapon-title h2 {
    border-bottom: none;
}
   
.weapon table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.weapon tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.weapon tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.weapon h3 {
    border-bottom: none;
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
}

.weapon td {
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
    font-weight: 900;
}

.weapon input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 40px;
    width: 40px;
}

.weapon select{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    text-align: center;
    width: 115px;
}

.weapon img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.weapon_line2 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    clip-path: none;
    text-align: center;
    height: 20px;
    width: 125px;
}

.inventory_weapon table {
    background:none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.inventory_weapon td:nth-child(1){
    text-align: left;
    width: 30px;
}

.inventory_weapon td:nth-child(2){
    text-align: right;
    width: 30px;
}

.inventory_weapon td:nth-child(9){
    text-align: right;
    display: inline-block;
    width: 100px;
}

.inventory_weapon td:nth-child(3){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 150px;
}

.inventory_weapon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.inventory_weapon th{
    color: var(--dark-gold);
}

.inventory_weapon td{
    color: var(--crimson);
}

.inventory_objects table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.inventory_objects td:nth-child(1){
    text-align: left;
    width: 30px;
}

.inventory_objects td:nth-child(2){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 300px;
}

.inventory_objects td:nth-child(5){
    text-align: right;
    display: inline-block;
    width: 100px;
}

.inventory_objects img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.inventory_objects th{
    color: var(--dark-gold);
}

.inventory_objects td{
    color: var(--crimson);
}


.inventory_armors table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.inventory_armors img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.inventory_armors td:nth-child(1){
    text-align: left;
    width: 30px;
}

.inventory_armors td:nth-child(2){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 300px;
}

.inventory_armors td:nth-child(5){
    text-align: right;
    display: inline-block;
    width: 100px;
}

.inventory_armors th{
    color: var(--dark-gold);
}

.inventory_armors td{
    color: var(--crimson);
}
   
.ritual table{
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
}

.ritual tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.ritual tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.ritual h3 {
    border-bottom: none;
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
}

.ritual td {
    font-family: TrajanBold;
    color: var(--dark-gold);
    text-align: center;
    font-weight: 900;
}

.ritual input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
    height: 40px;
    width: 40px;
}

.ritual select{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    text-align: center;
}

.ritual img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.ritual_line2 input{
    font-family: var(--font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    border: none;
    clip-path: none;
    text-align: center;
    height: 20px;
    width: 234px;
}

.magic_talent table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.magic_talent td:nth-child(1){
    text-align: left;
    width: 30px;
}

.magic_talent td:nth-child(2){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 450px;
}
.magic_talent td:nth-child(3){
    text-align: center;
    overflow: hidden;
    width: 160px;
}

.inventory_armors td:nth-child(4){
    text-align: right;
    display: inline-block;
    width: 100px;
}

.magic_talent img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.magic_talent th{
    color: var(--dark-gold);
}

.magic_talent td{
    color: var(--crimson);
}

.magic_summonings table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.magic_summonings td:nth-child(1){
    text-align: left;
    width: 30px;
}

.magic_summonings td:nth-child(2){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 300px;
}
.magic_summonings td:nth-child(3){
    text-align: center;
    overflow: hidden;
    width: 160px;
}

.magic_summonings td:nth-child(4){
    text-align: center;
    overflow: hidden;
    width: 100px;
}

.magic_summonings td:nth-child(5){
    text-align: center;
    overflow: hidden;
    width: 40px;
}

.magic_summonings td:nth-child(6){
    text-align: right;
    display: inline-block;
    width: 80px;
}

.magic_summonings img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.magic_summonings th{
    color: var(--dark-gold);
}

.magic_summonings td{
    color: var(--crimson);
}

.magic_rituals table {
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.magic_rituals td:nth-child(1){
    text-align: left;
    width: 30px;
}

.magic_rituals td:nth-child(3){
    text-align: left;
    display: inline-block;
    overflow: hidden;
    width: 280px;
}
.magic_rituals td:nth-child(4){
    text-align: center;
    overflow: hidden;
    width: 160px;
}

.magic_rituals td:nth-child(5){
    text-align: center;
    overflow: hidden;
    width: 100px;
}

.magic_rituals td:nth-child(6){
    text-align: center;
    overflow: hidden;
    width: 40px;
}

.magic_rituals td:nth-child(7){
    text-align: right;
    display: inline-block;
    width: 80px;
}

.magic_rituals img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.magic_rituals th{
    color: var(--dark-gold);
}

.magic_rituals td{
    color: var(--crimson);
}