.target img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.chat-header {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-header table {
    margin: 0;
    background: none;
    background-color:  var(--crimson);
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: white;
    font-weight: 900;
}

.chat-header tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.chat-header td:nth-child(1){
    text-align: left;
    width: 44px;
    padding-right: 0px;
    padding-left: 4px;
}

.chat-header td:nth-child(3){
    text-align: left;
    width: 44px;
    padding-right: 4px;
    padding-left: 0px;
}

.chat-content {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-content hr{
    border: 2px solid var(--dark-gold);
}

.chat-content table {
    margin: 0;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
}

.chat-content h1 {
    border-bottom: none;
}

.chat-content tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}


.chat-content2 {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-content2 hr{
    border: 2px solid var(--dark-gold);
}

.chat-content2 table {
    margin: 0;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
}

.chat-content2 h1 {
    border-bottom: none;
}

.chat-content2 tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content2 tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content2 tr:nth-child(3){
    color: var(--crimson);
    font-family: AGaramondPro;
    text-align: left;

}

.failure {
    background-color:  var(--crimson);
    color: white;
}

.success {
    background-color:  var(--dark-gold);
    color: white;
}

.spend {
    background-color:  var(--dark-gold);
    color: white;
}

.spendcombat {
    background-color:  var(--dark-gold);
    color: white;
}

.spent-pietas-message h3{
    border-bottom: none;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
    text-align: center;
}

.roll_dialog {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.roll_dialog table {
    margin: 0;
    background: none;
    border: none;
    font-family: var(--font-name);
    width: 100%;
    text-align: center;
}

.roll_dialog tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.roll_dialog tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.roll_dialog input {
    background-color: var(--input-bg-color);
    clip-path: circle(50% at 50% 50%);
    color: var(--crimson);
    border: none;
    text-align: center;
    height: 40px;
    width: 40px; 
}

.roll_dialog h3{
    font-family: var(--bold-font-name);
    color: var(--dark-gold);
    font-weight: 900;
    border-bottom: none;
}

.roll_dialog select{
    font-family: var(--bold-font-name);
    background-color: var(--input-bg-color);
    color: var(--crimson);
    text-align: center;
    border-bottom: none;
    border: none;
}

.roll_dialog img{
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.roll_dialog hr{
    border: 2px solid var(--dark-gold);
}

.image_small img{
    height: 20px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: none; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--dark-gold);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
  
  /* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--dark-gold) transparent transparent transparent;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

