.target img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.chat-header {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-header table {
    margin: 0;
    background: none;
    background-color:  var(--crimson);
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: white;
    font-weight: 900;
}

.chat-header tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.chat-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--crimson);
}

.chat-header td:nth-child(1){
    text-align: left;
    width: 40px
}

.chat-content {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-content hr{
    border: 2px solid var(--dark-gold);
}

.chat-content table {
    margin: 0;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
}

.chat-content h1 {
    border-bottom: none;
}

.chat-content tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}


.chat-content2 {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.chat-content2 hr{
    border: 2px solid var(--dark-gold);
}

.chat-content2 table {
    margin: 0;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
}

.chat-content2 h1 {
    border-bottom: none;
}

.chat-content2 tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content2 tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0);
}

.chat-content2 tr:nth-child(3){
    color: var(--crimson);
    font-family: AGaramondPro;
    text-align: left;

}

.failure {
    background-color:  var(--crimson);
    color: white;
}

.success {
    background-color:  var(--dark-gold);
    color: white;
}

.spend {
    background-color:  var(--dark-gold);
    color: white;
}

.spent-pietas-message h3{
    border-bottom: none;
    font-family: TrajanBold;
    color: var(--dark-gold);
    font-weight: 900;
    text-align: center;
}