<form class="{{cssClass}}" autocomplete="off">
  <div class="charsheet">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="virtutes-tab">Virtutes</a>
      <a class="item" data-tab="inventory-tab">{{localize "CUSTOS.ui.tab.inventory"}}</a> 
      <a class="item" data-tab="notes-tab">{{localize "CUSTOS.ui.tab.notes"}}</a>      
    </nav>
      
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
      {{!-- Virtutes Tab --}}
      <div class="tab virtutes-tab" data-group="primary" data-tab="virtutes-tab">
        {{> "/systems/custos/templates/actors/npc/parts/virtutes.html"}}
      </div>
      {{!-- Inventory Tab --}}
      <div class="tab inventory-tab" data-group="primary" data-tab="inventory-tab">
        {{> "/systems/custos/templates/actors/npc/parts/inventory.html"}}
      </div>
      {{!-- Notes Tab --}}
      <div class="tab notes-tab" data-group="primary" data-tab="notes-tab">
        {{editor actor.system.notes target="system.notes" button=true owner=owner editable=true}}
      </div>
    </section>
  </div>
</form>