<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{itemImage}}}>
            </td>
            <td>
                {{{itemName}}}
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content2">
    <table>
        <tr>
            <td>
                <small>
                    {{{itemType}}}
                </small>
            </td>
        </tr>
        <tr>
            <td><hr></td>
        </tr>
            <tr>
                <td>
                    {{{itemDescription}}}
                </td>
            </tr>
    </table>   
</div>
