<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{pjImage}}}>
            </td>
            <td>
                {{{pjName}}}
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content">
    <table>
        <tr>
            <td>
                {{{rollTitle}}}
            </td>
        </tr>
        <tr>
            <td>
                <h1>{{{totalRoll}}}</h1>
            </td>
        </tr>
        <tr>
            {{{rollResult}}}
        </tr>
    </table>   
</div>
