<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{pjImage}}}>
            </td>
            <td>
                {{{pjName}}}
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content">
    <table>
        <tr>
            <td>
                {{{rollTitle}}}
            </td>
        </tr>
        <tr>
            <td>
                <div class="tooltip">
                    <h1>{{{totalRoll}}}</h1>
                    <span class="tooltiptext">
                        <label>[{{{dicelist}}}]</label>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            {{{rollResult}}}
        </tr>
    </table>   
</div>
