<form class="{{cssClass}} custos" autocomplete="off">
    <div class="weapon-title">
        <h2><input name="name" type="text" value="{{item.name}}" placeholder='Provintia' onClick="this.select();"/></h2>
    </div>
    <div class="weapon">
        <table class="weapon_line1">
            <tr>
                <td>
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>
                </td>
                <td><label>{{localize "CUSTOS.ui.office"}}&nbsp;&nbsp;</label></td>
                <td>
                    <select name="system.office" data-dtype="String">
                        {{#select item.system.office}}
                            <option value="bellicus">{{localize "CUSTOS.ui.warrior"}}</option>
                            <option value="auguralis">{{localize "CUSTOS.ui.augur"}}</option>
                            <option value="exploratorius">{{localize "CUSTOS.ui.explorer"}}</option>
                            <option value="sapiens">{{localize "CUSTOS.ui.savant"}}</option>
                            <option value="legatorius">{{localize "CUSTOS.ui.diplomat"}}</option>
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="desc">
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>
