<form class="{{cssClass}} custos" autocomplete="off">
    <div class="weapon-title">
        <h2><input name="name" type="text" value="{{item.name}}" placeholder='Provintia' onClick="this.select();"/></h2>
    </div>
    <div class="weapon">
        <table class="weapon_line1">
            <tr>
                <td>
                    <td>
                        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>
                    </td>
                </td>
                <td>
                    <table>
                        <tr>
                
                            <td>
                                <label>{{localize "CUSTOS.ui.diff"}}</label>
                                <div><h3><input name="system.difficulty" type="number" value="{{item.system.difficulty}}" data-dtype="Number"/></h3></div>
                            </td>
                            <td>
                                <label>{{localize "CUSTOS.ui.damage"}}</label>
                                <div><h3><input name="system.damage" type="number" value="{{item.system.damage}}" data-dtype="Number"/></h3></div>
                            </td>
                            <td>
                                <label>{{localize "CUSTOS.ui.weight"}}</label>
                                <div><h3><input name="system.weight" type="number" value="{{item.system.weight}}" data-dtype="Number"/></h3></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{localize "CUSTOS.ui.range"}}</label>
                            </td>
                            <td>
                                <select name="system.range" data-dtype="String">
                                    {{selectOptions rangeItem selected=item.system.range localize=true}}
                                </select>
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>
        <table class="weapon_line2">
            <tr>
                <td>
                    <label>Peritia&nbsp;&nbsp;</label>
                </td>
                <td>
                    <select name="system.peritia" data-dtype="String">
                        {{selectOptions peritiaItem selected=item.system.peritia}}
                    </select>
                </td>
                <td>
                    <label>&nbsp;&nbsp;{{localize "CUSTOS.ui.spec"}}&nbsp;&nbsp;</label>
                </td>
                <td>
                    <div><input name="system.speciality" type="text" value="{{item.system.speciality}}" data-dtype="String"/></div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label>{{localize "CUSTOS.ui.characteristic"}}&nbsp;&nbsp;</label>
                </td>
                <td>
                    <select name="system.characteristic1" data-dtype="String">
                        {{selectOptions characteristicItem selected=item.system.characteristic1 localize=true}}
                    </select>
                </td>
                <td>
                    <select name="system.characteristic2" data-dtype="String">
                        {{selectOptions characteristicItem selected=item.system.characteristic2 localize=true}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="weaponsheet">
        <hr>
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>
