<form class="{{cssClass}} custos" autocomplete="off">
    <div class="weapon-title">
        <h2><input name="name" type="text" value="{{item.name}}" placeholder='Provintia' onClick="this.select();"/></h2>
    </div>
    <div class="weapon">
        <table class="weapon_line1">
            <tr>
                <td>
                    <td>
                        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>
                    </td>
                </td>
                <td>
                    <table>
                        <tr>
                
                            <td>
                                <label>{{localize "CUSTOS.ui.diff"}}</label>
                                <div><h3><input name="system.difficulty" type="number" value="{{item.system.difficulty}}" data-dtype="Number"/></h3></div>
                            </td>
                            <td>
                                <label>{{localize "CUSTOS.ui.damage"}}</label>
                                <div><h3><input name="system.damage" type="number" value="{{item.system.damage}}" data-dtype="Number"/></h3></div>
                            </td>
                            <td>
                                <label>{{localize "CUSTOS.ui.weight"}}</label>
                                <div><h3><input name="system.weight" type="number" value="{{item.system.weight}}" data-dtype="Number"/></h3></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{localize "CUSTOS.ui.range"}}</label>
                            </td>
                            <td>
                                <select name="system.range" data-dtype="String">
                                    {{#select item.system.range}}
                                        <option value="cac">{{localize "CUSTOS.ui.cac"}}</option>
                                        <option value="short">{{localize "CUSTOS.ui.short"}}</option>
                                        <option value="medium">{{localize "CUSTOS.ui.medium"}}</option>
                                        <option value="long">{{localize "CUSTOS.ui.long"}}</option>
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>
        <table class="weapon_line2">
            <tr>
                <td>
                    <label>Peritia&nbsp;&nbsp;</label>
                </td>
                <td>
                    <select name="system.peritia" data-dtype="String">
                        {{#select item.system.peritia}}
                            <option value="bello">De Bello</option>
                            <option value="corpore">De Corpore</option>
                            <option value="magia">De Magia</option>
                            <option value="natura">De Natura</option>
                            <option value="scientia">De Scientia</option>
                            <option value="societate">De Societate</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <label>&nbsp;&nbsp;{{localize "CUSTOS.ui.spec"}}&nbsp;&nbsp;</label>
                </td>
                <td>
                    <div><h3><input name="system.speciality" type="text" value="{{item.system.speciality}}" data-dtype="String"/></h3></div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label>{{localize "CUSTOS.ui.characteristic"}}&nbsp;&nbsp;</label>
                </td>
                <td>
                    <select name="system.characteristic1" data-dtype="String">
                        {{#select item.system.characteristic1}}
                            <option value="none">{{localize "CUSTOS.ui.none"}}</option>
                            <option value="slow">{{localize "CUSTOS.ui.slow"}}</option>
                            <option value="throwing">{{localize "CUSTOS.ui.throwing"}}</option>
                            <option value="twohand">{{localize "CUSTOS.ui.twohand"}}</option>
                            <option value="versatile">{{localize "CUSTOS.ui.versatile"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="system.characteristic2" data-dtype="String">
                        {{#select item.system.characteristic2}}
                            <option value="none">{{localize "CUSTOS.ui.none"}}</option>
                            <option value="slow">{{localize "CUSTOS.ui.slow"}}</option>
                            <option value="throwing">{{localize "CUSTOS.ui.throwing"}}</option>
                            <option value="twohand">{{localize "CUSTOS.ui.twohand"}}</option>
                            <option value="versatile">{{localize "CUSTOS.ui.versatile"}}</option>
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="desc">
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>
