<section class="top-section">
    <table>
        <tr>
            <td class="image-cell">
                {{#if (lt actor.system.resources.pietas.value actor.system.resources.pietas.max)}}
                    <div class="char-pic"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/></div>
                {{else}}
                    <div class="char-pic-nopietas"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/></div>
                {{/if}}
            </td>
            <td>
                <div class="char-name">
                    <h2><input name="name" type="text" value="{{actor.name}}" placeholder='Nombre' onClick="this.select();"/></h2>
                </div>
                <div class="char-info1">
                    <table>
                        <tr>
                            <td><h3><label>{{localize "CUSTOS.ui.age"}}&nbsp;&nbsp;</label></h3></td>
                            <td><h3><input name="system.age" type="number" value="{{actor.system.age}}" data-dtype="number"/></h3></td>
                            <td><h3><label>&nbsp;&nbsp;{{localize "CUSTOS.ui.sex"}}&nbsp;&nbsp;</label></h3></td>    
                            <td><h3><input name="system.sex" type="text" value="{{actor.system.sex}}" data-dtype="text"/></h3></td>
                            <td><h3><label>&nbsp;&nbsp;{{localize "CUSTOS.ui.province"}}&nbsp;&nbsp;</label></h3></td>    
                            <td><h3><input name="system.province" type="text" value="{{actor.system.province}}" data-dtype="String"/></h3></td>
                        </tr>
                    </table>
                </div>
                <div class="char-info2">
                    <table>
                        <tr>
                            <td><h3><label>{{localize "CUSTOS.ui.languages"}}&nbsp;&nbsp;</label></h3></td>
                            <td><h3><input name="system.languages" type="text" value="{{actor.system.languages}}" data-dtype="String"/></h3></td>
                        </tr>
                    </table>
                </div>
                <div class="char-info3">
                    <table>
                        <tr>
                            <td><h3><label>{{localize "CUSTOS.ui.office"}}&nbsp;&nbsp;</label></h3></td>
                            <td><h3>
                                <select name="system.office" data-dtype="String">
                                    {{#select actor.system.office}}
                                        <option value="bellicus">{{localize "CUSTOS.ui.warrior"}}</option>
                                        <option value="auguralis">{{localize "CUSTOS.ui.augur"}}</option>
                                        <option value="exploratorius">{{localize "CUSTOS.ui.explorer"}}</option>
                                        <option value="sapiens">{{localize "CUSTOS.ui.savant"}}</option>
                                        <option value="legatorius">{{localize "CUSTOS.ui.diplomat"}}</option>
                                        <option value="interfectorius">{{localize "CUSTOS.ui.assassin"}}</option>
                                    {{/select}}
                                </select>
                            </h3></td>
                            <td><h3><label>&nbsp;&nbsp;{{localize "CUSTOS.ui.rank"}}:&nbsp;&nbsp;</label></h3></td>
                            <td><h3>
                                <select name="system.rank" data-dtype="String" disabled style="appearance: none;">
                                    {{#select actor.system.rank}}
                                        <option value="gregarius">Gregarius</option>
                                        <option value="duplicarius">Duplicarius</option>
                                        <option value="beneficiarius">Beneficiarius</option>
                                        <option value="veteranus">Veteranus</option>
                                        <option value="decanus">Decanus</option>
                                        <option value="electus">Electus</option>
                                        <option value="protector">Protector</option>
                                    {{/select}}
                                </select>
                            </h3></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</section>
<section class="resources">
    <table>
        <tr>
            <td>
                {{#if actor.system.treated}}
                    <h3><a class="toggle-treated"><i class="fa-solid fa-heart" style="color: var(--crimson);"></i></a></h3>
                {{else}}
                    <h3><a class="toggle-treated"><i class="fa-regular fa-heart" style="color: var(--crimson);"></i></a></h3>
                {{/if}}
                
            </td>
            <td>
                <h3><label>{{localize "CUSTOS.ui.life"}}&nbsp;&nbsp;</label></h3>
            </td>
            <td>
                <h3>
                    {{#times actor.system.resources.life.max}}
                        <a class="resource-change" data-resource="life" data-number={{.}}>
                            {{#if (gte . ../actor.system.resources.life.value)}}
                                {{#if (gte . ../actor.system.converted_encumbrance)}}
                                    <i style="color: var(--crimson);" class="fa-solid fa-square"></i>
                                {{else}}
                                    <i class="fa-regular fa-square"></i>
                                {{/if}}
                            {{else}}
                                {{#if (gte . ../actor.system.converted_encumbrance)}}
                                    <i style="color: var(--crimson);" class="fa-solid fa-square-xmark"></i>
                                {{else}}
                                    <i class="fa-regular fa-square-xmark"></i>
                                {{/if}}
                            {{/if}}
                        </a>
                    {{/times}}
                </h3>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <h3><label>{{localize "CUSTOS.ui.pietas"}}&nbsp;&nbsp;</label></h3>
            </td>
            <td>
                <h3>
                    {{#times actor.system.resources.pietas.max}}
                        <a class="resource-change" data-resource="pietas" data-number={{.}}>
                            {{#if (gte . ../actor.system.resources.pietas.value)}}
                                <i class="fa-regular fa-square"></i>
                            {{else}}
                                <i class="fa-regular fa-square-xmark"></i>
                            {{/if}}
                        </a>
                    {{/times}}
                </h3>
            </td>
        </tr>
    </table>
</section>
   
    
    

<section class="bottom-section">
    <div class="title">
        <table>
            <tr>
                <th><h2><hr /></h2></th>
                <th><h2><label>VIRTUTES</label></h2></th>
                <th><h2><hr /></h2></th>
            </tr>
        </table>
    </div>
    <div class="virtutes">
        <table>
            <tr>
                {{#each actor.system.virtutes as |virtuteValue virtuteKey|}}
                    <td><h3><label>{{virtuteValue.label}}&nbsp;&nbsp;</label></h3></td>
                    <td><a class="regular-roll" data-name="{{virtuteValue.label}}" data-pvalue="{{virtuteValue.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                    <td><h3><input name="system.virtutes.{{virtuteKey}}.value" type="number" value="{{virtuteValue.value}}" data-dtype="number"/></h3></td>
                    {{#if (eq virtuteValue.label "Ratio")}}
                        </tr><tr>
                    {{/if}}
                {{/each}}
            </tr>
        </table>
    </div>
    <div class="title">
        <table>
            <tr>
                <th><h2><hr /></h2></th>
                <th><h2><label>PERITIAE</label></h2></th>
                <th><h2><hr /></h2></th>
            </tr>
        </table>
    </div>
    <div class="peritiae">
        <table>
            <tr>
                <td><a class="add-specialty" data-peritiaid="bello"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Bello&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Bello" data-pvalue="{{actor.system.peritiae.bello.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.bello.value" type="number" value="{{actor.system.peritiae.bello.value}}" data-dtype="number"/></h3>

                <td><a class="add-specialty" data-peritiaid="corpore"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Corpore&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Corpore" data-pvalue="{{actor.system.peritiae.corpore.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.corpore.value" type="number" value="{{actor.system.peritiae.corpore.value}}" data-dtype="number"/></h3>
                        
                <td><a class="add-specialty" data-peritiaid="magia"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Magia&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Magia" data-pvalue="{{actor.system.peritiae.magia.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.magia.value" type="number" value="{{actor.system.peritiae.magia.value}}" data-dtype="number"/></h3>
            </tr>
            <tr>
                <td>
                    {{#each actor.system.peritiae.bello.specialties as |specialityValue specialityKey|}}
                        <a class="delete-specialty" data-peritiaid="bello" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td> 
                <td class="speciality-name">
                    {{#each actor.system.peritiae.bello.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.bello.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.bello.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Bello)" data-pvalue="{{../actor.system.peritiae.bello.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.bello.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.bello.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.corpore.specialties as |specialityValue specialityKey|}}
                        <a class="delete-specialty" data-peritiaid="corpore" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td>
                <td class="speciality-name">
                    {{#each actor.system.peritiae.corpore.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.corpore.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.corpore.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Corpore)" data-pvalue="{{../actor.system.peritiae.corpore.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.corpore.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.corpore.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.magia.specialties as |specialityValue specialityKey|}}
                    <a class="delete-specialty" data-peritiaid="magia" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td>
                <td class="speciality-name">
                    {{#each actor.system.peritiae.magia.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.magia.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.magia.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Magia)" data-pvalue="{{../actor.system.peritiae.magia.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.magia.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.magia.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
            </tr> 
            <tr>
                <td><a class="add-specialty" data-peritiaid="natura"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Natura&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Natura" data-pvalue="{{actor.system.peritiae.natura.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.natura.value" type="number" value="{{actor.system.peritiae.natura.value}}" data-dtype="number"/></h3>
                    
                <td><a class="add-specialty" data-peritiaid="scientia"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Scientia&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Scientia" data-pvalue="{{actor.system.peritiae.scientia.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.scientia.value" type="number" value="{{actor.system.peritiae.scientia.value}}" data-dtype="number"/></h3>
                
                <td><a class="add-specialty" data-peritiaid="societate"><i class="fa-solid fa-plus"></i></a></td>
                <td><h3><label>&nbsp;De Societate&nbsp;&nbsp;</label></h3>
                <td><a class="regular-roll" data-name="De Societate" data-pvalue="{{actor.system.peritiae.societate.value}}" data-svalue="0"><i class="fa-solid fa-dice" style="color: var(--dark-gold);"></i></a></td>
                <td><h3><input name="system.peritiae.societate.value" type="number" value="{{actor.system.peritiae.societate.value}}" data-dtype="number"/></h3>
            </tr>      
            <tr>
                <td>
                    {{#each actor.system.peritiae.natura.specialties as |specialityValue specialityKey|}}
                    <a class="delete-specialty" data-peritiaid="natura" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td> 
                <td class="speciality-name">
                    {{#each actor.system.peritiae.natura.specialties as |specialityValue specialityKey|}}
                    <input  name="system.peritiae.natura.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.natura.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Natura)" data-pvalue="{{../actor.system.peritiae.natura.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.natura.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.natura.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.scientia.specialties as |specialityValue specialityKey|}}
                    <a class="delete-specialty" data-peritiaid="scientia" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td>
                <td class="speciality-name">
                    {{#each actor.system.peritiae.scientia.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.scientia.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.scientia.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Scientia)" data-pvalue="{{../actor.system.peritiae.scientia.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.scientia.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.scientia.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.societate.specialties as |specialityValue specialityKey|}}
                    <a class="delete-specialty" data-peritiaid="societate" data-specialityid="{{specialityValue.name}}"><i class="fa-regular fa-trash-can"></i></a>
                        <br><br>
                    {{/each}}
                </td>
                <td class="speciality-name">
                    {{#each actor.system.peritiae.societate.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.societate.specialties.{{specialityKey}}.name" value="{{specialityValue.name}}" data-dtype="text" type="text"/>
                    <br><br>
                    {{/each}}
                </td>
                <td>
                    {{#each actor.system.peritiae.societate.specialties as |specialityValue specialityKey|}}
                    <a class="regular-roll" data-name="{{specialityValue.name}} (De Societate)" data-pvalue="{{../actor.system.peritiae.societate.value}}" data-svalue="{{specialityValue.modifier}}"><i class="fa-solid fa-dice"></i></a>
                    <br><br>
                    {{/each}}
                </td>
                <td class="speciality-bonus">
                    {{#each actor.system.peritiae.societate.specialties as |specialityValue specialityKey|}}
                    <input name="system.peritiae.societate.specialties.{{specialityKey}}.modifier" value="{{specialityValue.modifier}}" data-dtype="number" type="number"/>
                    <br><br>
                    {{/each}}
                </td>
            </tr> 
                
            
        </table>
    </div>
        
</section>

